<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới cầu thủ</h1>
<form action="create" method="post" th:object="${footballPlayer}">
    <input type="hidden">
    <input type="text" placeholder="nhập tên cầu thủ" th:field="*{name}">
    <input type="date" placeholder="nhập ngày sinh" th:field="*{birthday}">
    <input type="text" placeholder="nhập kinh nghiệm" th:field="*{experience}">
    <input type="text" placeholder="nhập vị trí" th:field="*{position}">
    <input type="text" placeholder="nhập ảnh" th:field="*{image}">
    <input type="submit">
</form>
</body>
</html>