<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới cầu thủ</h1>
<form action="create" method="post" th:object="${footballPlayer}">
    <input type="hidden">
    <input type="text" placeholder="nhập tên cầu thủ" th:field="*{name}">
    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input type="date" placeholder="nhập ngày sinh" th:field="*{birthday}">
    <span style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
    <input type="number" placeholder="nhập kinh nghiệm" th:field="*{experience}">
    <span style="color: red" th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></span>
    <input type="text" placeholder="nhập vị trí" th:field="*{position}">
    <span style="color: red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
    <input type="text" placeholder="nhập ảnh" th:field="*{image}">
    <select name="team" th:field="*{team}">
        <option value="">Chọn đội tuyển</option>
        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
    </select>
    <input type="submit">
</form>
</body>
</html>