<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Mã cầu thủ</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Kinh nghiệm</th>
        <th>Vị trí</th>
        <th>Ảnh</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="footballPlayer, iterStats: ${footballPlayerList}">
        <td th:text="${footballPlayer.id}"></td>
        <td th:text="${footballPlayer.name}"></td>
        <td th:text="${footballPlayer.birthday}"></td>
        <td th:text="${footballPlayer.experience}"></td>
        <td th:text="${footballPlayer.position}"></td>
        <td>
            <img th:src="@{${footballPlayer.image}}" alt="Ảnh cầu thủ"/>
        </td>
        <td><a th:href="@{/favorites/{id}(id=${footballPlayer.id})}">Yêu thích</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>