<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:if="${msg!=null}" th:text="${msg}"></p>
<h1><a th:href="@{/create}">Thêm mới cầu thủ</a></h1>
<form action="" method="get">
    nhập số trang hiển thị <input type="number" name="a">
    <button type="submit">gửi</button>
</form>

<form th:action="@{/search}" method="post">
    <input type="text" name="name" placeholder="nhập tên">
    <input type="date" name="minDob" placeholder="nhập tên">
    <input type="date" name="maxDob" placeholder="nhập tên">
    <button type="submit">Tìm kiếm</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Mã cầu thủ</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Kinh nghiệm</th>
        <th>Vị trí</th>
        <th>Đội tuyển</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
        <th></th>
        <th>Xóa</th>
        <th>Sửa</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="footballPlayer, iterStats: ${footballPlayerList}" th:if="${!footballPlayer.isFlag}">
        <td th:text="${footballPlayer.id}"></td>
        <td th:text="${footballPlayer.name}"></td>
        <td th:text="${footballPlayer.birthday}"></td>
        <td th:text="${footballPlayer.experience}"></td>
        <td th:text="${footballPlayer.position}"></td>
        <td th:text="${footballPlayer.team.name}"></td>
        <td th:text="${footballPlayer.status}"></td>
        <td><a th:href="@{/register/{id}(id=${footballPlayer.id})}">Đăng ký đá</a></td>
        <td><a th:href="@{/cancel/{id}(id=${footballPlayer.id})}">Hủy đăng ký</a></td>
        <td><a th:href="@{/delete/{id}(id=${footballPlayer.id})}">xóa</a></td>
        <td><a th:href="@{/edit/{id}(id=${footballPlayer.id})}">sửa</a></td>
        <td><a th:href="@{/detail/{id}(id=${footballPlayer.id})}">detail</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${footballPlayerList.hasPrevious()}"
       th:href="@{/(page=${footballPlayerList.number - 1})}">Previous</a>
    <a th:if="${footballPlayerList.hasNext()}"
       th:href="@{/(page=${footballPlayerList.number + 1})}">Next</a>
</div>
</body>
</html>