<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Title</title>
</head>
<body>
<p th:if="${msg!=null}" th:text="${msg}"></p>
<h1><a href="/favoritesList">Danh sách cầu thủ yêu thích </a></h1>
<h1><a th:href="@{/create}">Thêm mới cầu thủ</a></h1>
<form action="" method="get">
    nhập số trang hiển thị <input type="number" name="a">
    <button type="submit">gửi</button>
</form>

<form th:action="@{/search}" method="post">
    <input type="text" name="name" placeholder="nhập tên">
    <input type="date" name="minDob" placeholder="nhập tên">
    <input type="date" name="maxDob" placeholder="nhập tên">
    <button type="submit">Tìm kiếm</button>
</form>
<div class="row">
    <div th:each="footballPlayer, iterStats: ${footballPlayerList}" th:if="${!footballPlayer.isFlag}" class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img th:src="${footballPlayer.image}" class="card-img-top" alt="...">
            <div class="card-body">
                <p th:text="${footballPlayer.name}"></p>
                <p th:text="${footballPlayer.team.name}"></p>
                <p th:text="${footballPlayer.status}"></p>
                <p><a th:href="@{/register/{id}(id=${footballPlayer.id})}">Đăng ký đá</a></p>
                <p><a th:href="@{/cancel/{id}(id=${footballPlayer.id})}">Hủy đăng ký</a></p>
                <p><a th:href="@{/delete/{id}(id=${footballPlayer.id})}">xóa</a></p>
                <p><a th:href="@{/edit/{id}(id=${footballPlayer.id})}">sửa</a></p>
                <p><a th:href="@{/detail/{id}(id=${footballPlayer.id})}">detail</a></p>
            </div>
        </div>
    </div>
</div>
<div>
    <a th:if="${footballPlayerList.hasPrevious()}"
       th:href="@{/(page=${footballPlayerList.number - 1})}">Previous</a>
    <a th:if="${footballPlayerList.hasNext()}"
       th:href="@{/(page=${footballPlayerList.number + 1})}">Next</a>
</div>
</body>
</html>